= form_for Product.new, url: { action: 'create' }, remote: true do |f|
  = label_tag(:name, 'Name:')
  = f.text_field :name
  = label_tag(:stock, 'Stock:')
  = f.number_field :stock
  = f.submit 'Create'

= link_to 'Back to list of products', products_path, remote: true